body {
  margin: -21px;
  background-image: url(http://i1.tribune.com.pk/wp-content/uploads/2011/04/Prince-ILLUSTRATION-JAMAL-KHURSHID-640x480.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: 'Frijole', cursive;
  text-shadow: 2px 1px red;
}
img {
  display:block;
  margin:0 auto;
  width: 80%;
  height:15%;
}

.container {
  margin: 0 auto;
  background-color: rgba(255,255,255,.7); 
  height:100vh;
  width:100vw;
}
#startPanel{
  position:relative;
  top: -30vh;
  font-size: 1.2em;
  text-align: center;
  margin:10px auto;
  width:40%;
}
#numOfDisks{
  font-size: 1.2em;
  text-align: right;
}
button {
  padding: 10px;
  font-size: 1.2em;
  display:block;
  margin: 10px auto;
  text-align: center;
}
.gameArea {
  visibility: hidden;
  padding: 1%;
  margin:0 auto;
  width: 90%;
  height: 60%;
}
.tower {
  
  display: table-cell;
  height:80vh;
  width:33vw;
  border: solid black 4px;
  vertical-align: bottom;
}
.disk {
  opacity: 1.0;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  margin:0 auto;
  height: 14%;
}

.selected {
  /*border: red 1px solid;*/
  opacity: 0.7;
}
img[data-weight='1']{
  width: 60%; 
  /*background-color: yellow;*/
}
img[data-weight='2']{
  width: 70%; 
  /*background-color: orange;*/
}
img[data-weight='3']{
  width: 70%; 
  /*background-color: blue;*/
}
img[data-weight='4']{
  width: 80%; 
  /*background-color: red;*/
}
img[data-weight='5']{
  width: 90%;
  /*background-color: green;*/
}
img[data-weight='6']{
  width: 100%;
  /*background-color: purple;*/
}
