h1 {
  text-align: center;
}
.container {
  height:100vh;
  width:100vw;
}
#startPanel{
  font-size: 1.2em;
  text-align: center;
  margin:10px auto;
  width:40%;
}
#numOfDisks{
  font-size: 1.2em;
  text-align: right;
}
button {
  padding: 10px;
  
  font-size: 1.5em;
  display:block;
  margin: 10px auto;
  text-align: center;
}
.gameArea {
 padding: 2%;
  margin:0 auto;
  width: 90%;
  height: 60%;
  background-color: beige;
}
.tower {
  display: table-cell;
  height:60vh;
  width:33vw;
  border: solid black 4px;
  vertical-align: bottom;
}
.disk {
  opacity: 0.7;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  margin:1px auto;
  height: 14%;
}

.selected {
  /*border: red 1px solid;*/
  opacity: 1.0;
}
div[data-weight='1']{
  width: 40%; 
  background-color: yellow;
}
div[data-weight='2']{
  width: 50%; 
  background-color: orange;
}
div[data-weight='3']{
  width: 60%; 
  background-color: blue;
}
div[data-weight='4']{
  width: 70%; 
  background-color: red;
}
div[data-weight='5']{
  width: 80%;
  background-color: green;
}
div[data-weight='6']{
  width: 90%;
  background-color: purple;
}
